p{color:rgb(104, 101, 98)}
body{background-color: rgb(159, 161, 161);}
h1{color: rgb(46, 44, 43);}

h1

{
    font-family: 'Times New Roman', Times, serif;
}

p

{
    font-family: 'Times New Roman', Times, serif;
}


h1

{
    font-weight: 300;
}

p

{
    font-weight: 200;
}

div

{
    max-width: 900px;
}
body{font-size: 15px;}
h1{font-size: 50px;}
