p{color:rgb(75, 72, 68)}
body{background-color: rgb(138, 148, 147);}
h1{color: rgb(43, 40, 39);}
h1{font-size: xxx-large;}
h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
p{font-family: Verdana, Geneva, Tahoma, sans-serif;
h1{font-weight: 400;}
p{font-weight: 300;}