p{color:rgb(231, 226, 220)}
body{background-color: rgb(0, 0, 0);}
h1{color: rgb(124, 116, 112);}

h1

{
    font-family: 'Times New Roman', Times, serif;
}

p

{
    font-family: 'Times New Roman', Times, serif;
}


h1

{
    font-weight: 300;
}

p

{
    font-weight: 200;
}

div

{
    max-width: 900px;
}
body{font-size: 15px;}
h1{font-size: 50px;}